# dbt artifacts
target/
dbt_packages/
logs/

# DuckDB files
*.duckdb
*.db
*.parquet
*.tmp
*.csv.tmp

# Python venv
venv/
dbt-env/
.env
__pycache__/
*.pyc

# VS Code files
.vscode/

# Windows
Thumbs.db
